<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124684460884-5csvahfa1oubaa384kkshrps22ivh3a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124684460884-5csvahfa1oubaa384kkshrps22ivh3a6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>124684460884-0hlgevcji4hdf0csgp80bbu0n0r35o1j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArLAm6g2mm7R-twKIytUQRobDcmiSXXXo</string>
	<key>GCM_SENDER_ID</key>
	<string>124684460884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.roboti</string>
	<key>PROJECT_ID</key>
	<string>roboti-57979</string>
	<key>STORAGE_BUCKET</key>
	<string>roboti-57979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124684460884:ios:61d646511f0ae6107e1ec1</string>
</dict>
</plist>